<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>861988830364-inbg002hh7li1cpcei4tvaoimq1n4hq5.apps.googleusercontent.com</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.861988830364-inbg002hh7li1cpcei4tvaoimq1n4hq5</string>
            </array>
        </dict>
    </array>

    <!-- 👇 Add this new key -->
    <key>NSCameraUsageDescription</key>
    <string>SmartSpend needs access to your camera to let you take pictures of your receipts.</string>
</dict>
</plist>
